*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#07111f;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#0d1b2a;
    position:sticky;
    top:0;
}

.logo{
    color:#FFD700;
    font-size:24px;
    font-weight:bold;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

..hero-logo img{
    width:220px;
    max-width:90%;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0 0 25px gold);
}

@keyframes float{
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }
}
}

.hero h1{
    color:#FFD700;
    font-size:55px;
    margin-top:20px;
}

.hero p{
    color:#d6d6d6;
    margin:25px auto;
    font-size:22px;
    line-height:1.7;
    max-width:700px;
}

.buttons{
    margin-top:35px;
}

.btn,
.btn2{
    display:inline-block;
    padding:15px 30px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
    margin:10px;
    transition:.3s;
}

.btn{
    background:#FFD700;
    color:black;
}

.btn2{
    border:2px solid #FFD700;
    color:#FFD700;
}

.btn:hover,
.btn2:hover{
    transform:scale(1.05);
}

#story,
#roadmap{
    max-width:900px;
    margin:auto;
    padding:80px 20px;
    text-align:center;
}

#story h2,
#roadmap h2{
    color:#FFD700;
    margin-bottom:25px;
    font-size:40px;
}

#story p{
    color:#d0d0d0;
    font-size:20px;
    line-height:1.8;
}

.phase{
    background:#10243c;
    border:1px solid #FFD700;
    border-radius:15px;
    padding:20px;
    margin:20px 0;
    font-size:20px;
}

footer{
    text-align:center;
    padding:40px;
    background:#0d1b2a;
    color:#999;
}
